body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
a{
    text-decoration: none;
    cursor: pointer;
}
p{
    color: #17a2b8;
}
h1{
    color: #17a2b8;
}